/* ------------------------------------------------------------------------------------ */
/* [CSS-File] - main-todo.css 
/* ------------------------------------------------------------------------------------ */
/* [Definitions]
/* 
   1. Div - Label Container 
   2. Label - Handling ( open / close )
   3. Content to to Container 
   4. Row - Items Layouts 


/* ------------------------------------------------------------------------------------ */





/* ----------------------------------------------------------------- */
/* 1 -  Div - Label Container 
/* ----------------------------------------------------------------- */


.div-label-todo {

    display: flex;
    justify-content: flex-end;

    border-bottom: calc(.1vw + .1em) solid var(--skin-brown);
}


/* default to do label ( open / close ) */

label[for^="chk-todo"] {

    
    display: grid;
    align-items: center;
    justify-content: center;

    grid: calc(.1vw + 2.3em) / calc(.1vw + 2.3em) calc(.1vw + 6.3em);

    font-weight: bold;
    font-size: calc(.1vw + 1em);

    cursor: pointer;

}


/* label number box */
label[for^="chk-todo"] > div:nth-of-type(1) {

    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: .5em .0em 0em 0em;
    background-color: var(--rainy-dark);


}


/* layout doing / to do / done & img */
label[for^="chk-todo"] > div:nth-of-type(2) {

    display: flex;
    align-items: center;
    column-gap: calc(.1vw + 1em);

    padding-left: calc(.1vw + .8em);
    
    background-color: var(--skin-brown);
    color:var(--black);
    height: 100%;

    border-radius: 0em .5em 0em 0em;
}










/* ----------------------------------------------------------------- */
/* 2. Label - Handling ( open / close )
/* ----------------------------------------------------------------- */

/* input default unshown */
input[id^="chk-todo"] { display: none;}



input[id="chk-todo-doing"]:checked ~ div > div label[for="chk-todo-doing"] img ,
input[id="chk-todo-todo"]:checked ~ div > div label[for="chk-todo-todo"] img ,
input[id="chk-todo-done"]:checked ~ div > div label[for="chk-todo-done"] img {

    transform: rotate(180deg);
}


input[id="chk-todo-doing"]:checked ~ div #doing-container ,
input[id="chk-todo-todo"]:checked ~ div #todo-container ,
input[id="chk-todo-done"]:checked ~ div #done-container {

    display:grid;
} 


/* ----------------------------------------------------------------- */
/* 3. Content to to Container 
/* ----------------------------------------------------------------- */

.content-to-to-inside {

    padding-top: calc(.1vw + 2em);
    padding-left: calc(.1vw + .3em);
    padding-right: calc(.1vw + .3em);
}

#doing-container ,
#todo-container ,
#done-container {

    display: none;
    grid: auto / 1fr;

    /* desktop - view grid: auto / 1fr 1fr; */

    column-gap: calc(.1vw + 1em);
    row-gap: calc(.1vw + 2.5em);
}

#doing-container > div:nth-of-type(2) ,
#todo-container > div:nth-of-type(2) ,
#done-container > div:nth-of-type(3) {

    /* mobile view */
    padding-top: calc(.1vw + 2em);
    border-top: calc(.1vw + .1em) solid var(--rainy-dark);

}




/* ------------------------------- */
/* year Box Banner 
/* ------------------------------- */

/* belongs to grid, so should be go over 2 columns */

.year-done-box {

    /* mobile view */
    grid-column: 1 / span 1;

    width: calc(.1vw + 5em);

    border-radius: .5em;
    padding: calc(.1vw + .3em);

    background-color: var(--skin-brown);
    color: black;
    text-align: center;
    font-weight: bold;

    opacity: .8;
}









/* -------------------------------------------------------- */
/* 4 - Row - Items Layouts 
/* -------------------------------------------------------- */



/* ------------------------------- */
/* 3.columns 
/* ------------------------------- */

.row-item-todo-3 {

    display: grid;
    grid: auto / auto 1fr auto;
    align-items: center;
    column-gap: calc(.1vw + 1em);

}

.status-todo-box {

    border-radius: .3em;
    background-color: var(--rainy-dark);
    color: var(--white);

    padding-left: calc(.1vw + .3em);
    padding-right: calc(.1vw + .3em);

}

.prio-todo-box {

    border-radius: .3em;
    color:var(--black);
    font-weight: bold;

    width: calc(.1vw + 2em);
    height: calc(.1vw + 2em);

    display: flex;
    align-items: center;
    justify-content: center;


}


/* ------------------------------- */
/* 2.columns 
/* ------------------------------- */

.row-item-todo-2 {

    display: grid;
    grid: auto / auto 1fr;
    align-items: center;
    column-gap: calc(.1vw + 1em);

}