/* ------------------------------------------------------------- */
/* [CSS-File] - resp-more.css 
/* ------------------------------------------------------------- */
/* [Definitions]
/* 
   1. ...

/* ------------------------------------------------------------- */






/* -------------------------------------------------------------- */
/* width >= px 
/* -------------------------------------------------------------- */

@media (min-width: 780px) {


   /* -------------------------------------------------------- */
   /* Header Container 
   /* --------------------------------------------------------- */

   .more-title-header-block {  grid: auto / calc(3vw + 10em) 3fr;  }
 
   .img-more-title { display: block; }

   


   /* ----------------------------------------------------------- */
   /* Tech Docu
   /* ----------------------------------------------------------- */

   .more-docu-link-box {  grid: auto / 1fr 1fr;   }

     
     
  



   /* ------------------------------------------------------- */
   /* Motivation 
   /* ------------------------------------------------------- */


   .flag-panel {  padding-top: calc(.1vw + 1.3em); }

   .more-lyric-flag-container {

      
      display: grid;
      grid: auto / 1fr 1fr 1fr 1fr;
      column-gap: calc(.1vw + 2em);
   

   }
   
   .more-video-block-layout {

      display: grid;
      grid: auto / 1fr 1fr;

   }


   #more-unshown-txt-mindset , 
   #more-unshown-txt-ology ,
   #more-unshown-txt-videos,
   #more-unshown-txt-to ,
   .more-unshown-txt-end { display: inline;}

   label[for^="radio-more-motivation"] { column-gap: .5em; }






}