/* ------------------------------------------------------------- */
/* [CSS-File] - resp-main-about-us.css 
/* ------------------------------------------------------------- */
/* [Definitions]
/* 
   1. width >= 520px 
   2. width >=  690px 

   3. width >= 919px 
   4. width >= 580px - 919px  

   5. width >= 920px  

/* ------------------------------------------------------------- */



/* -------------------------------------------- */
/* 1. width >= 520px 
/* -------------------------------------------- */

@media (min-width: 520px ) {


    /* ------------------------------------------------------ */ 
    /* Tech Skills
    /* ------------------------------------------------------ */ 
    .skill-status > div {  font-size: calc(.1vw + 1em); }

}


/* -------------------------------------------- */
/* 2. width >=  690px 
/* -------------------------------------------- */
@media (min-width: 690px ) {


    /* ------------------------------------------------------ */ 
    /* Title Area of About Me 
    /* ------------------------------------------------------ */ 

    #img-about-me {  width: calc( 8vw + 10em); }

}




/* -------------------------------------------- */
/* 3. width >= 919px   
/* -------------------------------------------- */

@media ( max-width: 919px ) { 


    /* ------------------------------------------------------ */ 
    /* Tech Skills
    /* ------------------------------------------------------ */ 

    /* if frontend is checked */
    input#radio-about-me-frontend:checked ~ #div-my-tech-skills > #my-tech-skills-frontend { display: block;}
    input#radio-about-me-frontend:checked ~ #div-my-tech-skills > #my-tech-skills-backend { display: none;}

    /* if backend is checked */
    input#radio-about-me-backend:checked ~ #div-my-tech-skills > #my-tech-skills-backend { display: block;}
    input#radio-about-me-backend:checked ~ #div-my-tech-skills > #my-tech-skills-frontend { display: none;} 

}




/* -------------------------------------------- */
/* 4. width >= 580px - 919px  
/* -------------------------------------------- */

@media (min-width: 580px ) and ( max-width: 919px ) {


    /* ------------------------------------------------------ */ 
    /* Tech Skills
    /* ------------------------------------------------------ */ 

    #my-tech-skills-frontend,
    #my-tech-skills-backend {

        margin-left: calc(5vw + 1em);
        margin-right: calc(5vw + 1em);

    }


    /* ------------------------------------------------------ */ 
    /* My Mindset
    /* ------------------------------------------------------ */ 

    #div-my-mindset {

        margin-left: calc(5vw + .5em);
        margin-right: calc(5vw + .5em);
    }

    /* ------------------------------------------------------ */ 
    /* Contact Me
    /* ------------------------------------------------------ */ 

    #form-contact-me {

        margin-left: calc(.1vw + 1em);
        margin-right: calc(.1vw + 1em);
    }

    .txt-field-email-about-me { width: 55%; }

}



/* -------------------------------------------- */
/* 5. width >= 920px 
/* -------------------------------------------- */

@media (min-width: 920px ) {


    /* ------------------------------------------------------ */ 
    /* Title Area of About Me 
    /* ------------------------------------------------------ */ 

    #img-about-me {  width: calc( 8vw + 9.6em); }


    /* ------------------------------------------------------ */ 
    /* Default Main Pos ( more inside )
    /* ------------------------------------------------------ */ 

    .main-portfolio-content-box {

        margin-left: calc(.1vw + 1.5em);
        margin-right: calc(.1vw + 1.5em);
        
    }
    

    /* ------------------------------------------------------ */ 
    /* Why I call it Masch ?
    /* ------------------------------------------------------ */ 

    #img-why-masch { display: block; }


    /* ------------------------------------------------------ */ 
    /* Tech Skills
    /* ------------------------------------------------------ */ 

    #radio-my-tech-skills-panel { display: none;}

    /* no radio unshown handling */
    #my-tech-skills-frontend,
    #my-tech-skills-backend { display: block; }

    #div-my-tech-skills { 
        
        grid: auto / 1fr 1fr;

        margin-top: calc(.1vw + 4em);
        margin-bottom: calc(.1vw + 2em);
    }


    /* ------------------------------------------------------ */ 
    /* My Mindset
    /* ------------------------------------------------------ */
    
    #div-my-mindset {

        margin-top: calc(.1vw + 6em);
        margin-bottom: calc(.1vw + 4em);

        margin-left: calc(.1vw + 1em);
        margin-right: calc(.1vw + 1em);
    }

    .my-mindset-media-container {

        grid: auto / 1fr 1fr;
        column-gap: calc(.1vw + 1.5em); 
    }

    .video-about-me-my-mindset {

        height: calc(1vw + 15em); 
    }

    #order-team { order:1; }


    /* ------------------------------------------------------ */ 
    /* Contact Me
    /* ------------------------------------------------------ */ 

    #img-contact-me,
    .img-small-contact-me-box { display: block;   }
        
        

    #form-contact-me {

        padding-top: calc(.1vw + .8em );

        margin-left: calc(3vw + 2.5em);
        margin-right: calc(3.5vw + 3.5em);
    }

    .txt-field-email-about-me { width: 55%; }


}

