/* ------------------------------------------------------------------------------------ */
/* [CSS-File] - main.css 
/* ------------------------------------------------------------------------------------ */
/* [Definitions]
/* 
/* 1. main container div 
/* 2. main container div background  ( img , bg-colors  )
/* 3. main container div > section ( all content )
/*      3.1 - h1 - section - top  ( content )
        3.2 - h1 , h2 , h3 - section inside ( content )
        3.3 - First h1 - js date ticker
        3.4 - section > div ( text content )
/* 4. ...
/* ------------------------------------------------------------------------------------ */


/* ---------------------------------------------------------------------------------- */
/* 1.  main container div 
/* ---------------------------------------------------------------------------------- */


#main-portfolio-container > div {

    position: relative;
    top:0;

}

/* line shadow between every div */
#main-portfolio-container > div:nth-of-type( n - 4) {

    /*border-top: calc(.1vw + .4em) solid var(--moon-dark); */
    box-shadow: 0px 0px 12px 0px var(--black) inset;
}


/* ---------------------------------------------------------------------------------- */
/* 2. main container div background  ( img , bg-colors  )
/* ---------------------------------------------------------------------------------- */

/* bg img / color mix position in div */
.bg-container { 

    z-index: -1;

    position: absolute;
    top:0;
    width: 100%;
    height: 100%;
}


/* ------------------------------- */ 
/* bg - img                        */
/* ------------------------------- */ 

/* default for mobile */
#bg-img-aboutme,
#bg-img-finished-projects, 
#bg-img-todos,
#bg-img-more { display: none; }


/* ------------------------------- */ 
/* bg - color mix                  */
/* ------------------------------- */

#bg-aboutme {

    background: 
    linear-gradient(217deg, rgba(85,127,167,.8), rgba(255,0,0,0) 70.71%),
    linear-gradient(127deg, rgba(37, 150, 190,.8), rgba(0,255,0,0) 70.71%),
    linear-gradient(336deg, rgba(108,100,52,.8), rgba(0,0,255,0) 70.71%);

}

#bg-finished-projects , 
#bg-more {

    background: 
    linear-gradient(217deg, rgba(67,121,128,.8), rgba(255,0,0,0) 70.71%),
    linear-gradient(127deg, rgba(37, 150, 190,.8), rgba(0,255,0,0) 70.71%),
    linear-gradient(336deg, rgba(129,240,223,.8), rgba(0,0,255,0) 70.71%);

}

#bg-todos {

    background: 
    linear-gradient(217deg, rgba(97,33,11,.8), rgba(255,0,0,0) 70.71%),
    linear-gradient(127deg, rgba(59,23,11,.8), rgba(0,255,0,0) 70.71%),
    linear-gradient(336deg, rgba(196,154,130,.8), rgba(0,0,255,0) 70.71%);

}





/* ------------------------------------------------------------- */
/* 3. main container div > section ( all content )
/* ------------------------------------------------------------- */


/* first section get more top space because of fixed header */
#main-portfolio-container #section-top-about-me {

    padding-top: calc(.6vw + 7.3em);
}


/* default section pos */
#main-portfolio-container > div > section {

    padding-top: calc(.1vw + 3.3em);
    padding-bottom: calc(.1vw + 4.5em);

    padding-left: 4.5vw;
    padding-right: 4.5vw;

}



/* ---------------------------------------- */
/* 3.1 - h1 - section - top  ( content )
/* ---------------------------------------- */
 
/* h1 styling for section */
.h1-portfolio-section {

    margin:0;
    font-size: calc( .3vw + 1em);    
}

/* h1 container style of section */
.anker-portfolio-section {

    height: calc( .1vw + 2.3em);
    padding-left: calc(.1vw + .8em);
    padding-right: calc(.1vw + .8em);

    display: inline-flex;
    column-gap: calc(.1vw + .5em);
    align-items: center;

    /*background-color: var(--moon-dark); */
    background-color: var(--skin-brown);

    text-decoration: none;
    color: var(--black);

}

/* because of about me & contact me */
.anker-portfolio-section:nth-of-type(1) {

    height: calc( .1vw + 3.4em);
}


/* ------------------------------------------ */

.h1-curved-section-pos-left {

    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: calc(.1vw + .5em);
}

.h1-curved-section-pos-right {

    display: flex;
    justify-content: right;
    margin-right: calc(.1vw + .5em);

}





/* left h1 section  */
#h1-p-s-aboutme,
#h1-p-s-todos {

    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: calc(.1vw + .5em);
}

/* right h1 section  */
#h1-p-s-finished-projects,
#h1-p-s-more {

    display: flex;
    justify-content: right;
    margin-right: calc(.1vw + .5em);
}





/* ---------------------------------------- */
/* 3.3 - First h1 - js date ticker
/* ---------------------------------------- */

#date-ticker {

    background-color: var(--moon-dark); 
    font-size: calc(.1vw + .8em);

    /* mobile margin */
    margin-right: calc(.1vw + .6em);

    padding-top: calc(.1vw + .2em);
    padding-bottom: calc(.1vw + .2em);

    padding-left: calc(.1vw + .6em);
    padding-right: calc(.1vw + .6em);

   
}



/* --------------------------------------------------------------- */
/* 3.4 - section > div ( text content )
/* --------------------------------------------------------------- */

#main-portfolio-container > div > section > div {

    position: relative;
    top:0;

    /* default font size in section font-size: calc(.1vw + 1.2em);*/
    
    /*background-color: rgba(0, 0, 0, .9); background-color: var(--moon-dark); */
    background-color: rgba(6, 6, 6, .9);
    color:var(--light-grey);  

}

#main-portfolio-container > div:nth-of-type(1) > section > div,
#main-portfolio-container > div:nth-of-type(3) > section > div {

  
    padding-top: calc(.1vw + .3em);
    padding-bottom: calc(.1vw + 2.5em);

    padding-left: calc(.1vw + .8em);
    padding-right: calc(.1vw + .8em);
    

}


/*#main-portfolio-container > div:nth-of-type(2) > section > div {
#main-portfolio-container > div:nth-of-type(4) > section > div
    /*padding-top: calc(.1vw + 1em);
    padding-bottom: calc(.1vw + 1em);
} */


