/* ------------------------------------------------------------- */
/* [CSS-File] - resp-todo.css 
/* ------------------------------------------------------------- */
/* [Definitions]
/* 
   1. width <= 680px 

/* ------------------------------------------------------------- */

@media (min-width: 680px) {


    #doing-container ,
    #todo-container ,
    #done-container {

        /* 2 column layout */
        grid: auto / 1fr 1fr;

    }


    #doing-container > div:nth-of-type(2) ,
    #todo-container > div:nth-of-type(2) ,
    #done-container > div:nth-of-type(3) {

        /* reset top of mobile */
        padding-top: 0em;
        border-top: 0em solid var(--rainy-dark);

         
        padding-left: calc(.1vw + 1em);
        border-left: calc(.1vw + .1em) solid var(--rainy-dark); 
        
    }   


    .year-done-box { grid-column: 1 / span 2; }

}