/* ------------------------------------------------------------- */
/* [CSS-File] - resp-finished-projects.css 
/* ------------------------------------------------------------- */
/* [Definitions]
/* 
   1. width <= 919px 
   2. width >= 860px 
   3. width >= 920px 

   4. width >= 1280px and <= 3079px
   5. width >= 3080px 

/* ------------------------------------------------------------- */

/* -------------------------------------------- */
/* 1. width <= 919px 
/* -------------------------------------------- */

@media (max-width: 919px ) {


    /* ------------------------------------------------------ */ 
    /* Label - Project Topic Title Area ( open / close )
    /* ------------------------------------------------------ */

    .project-label-topic { 
        
        border-radius: .5em 0em 0em .5em;
       
    
    }
}


/* -------------------------------------------- */
/* 2. width >= 860px 
/* -------------------------------------------- */

@media (min-width: 860px ) {


    /* ------------------------------------------------------ */ 
    /* Open / Close - Container 
    /* ------------------------------------------------------ */ 
   
    /* class of class need typeselector to be higher cascade as default class */
    div.main-portflio-content-list-box { 
        
        padding-left: calc(.1vw + 1.8em);
        padding-right: calc(.1vw + 1.8em);
    
    }

}


/* -------------------------------------------- */
/* 3. width >= 920px 
/* -------------------------------------------- */
@media (min-width: 920px ) {


    /* ------------------------------------------------------ */ 
    /* Label - Project Topic ( open / close )
    /* ------------------------------------------------------ */

    .label-finished-projects { grid: auto / auto 1fr .25fr; }

    .img-project-title-topic , .img-project { display: block; }

    .project-container { grid: auto / 1.3fr 4fr; }

    .circle-project-area { display: flex; }

  

}


/* -------------------------------------------- */
/* 4. width >= 1280px and <= 3079px
/* -------------------------------------------- */
@media (min-width: 1280px ) and (max-width: 3079px) {


    /* ------------------------------------------------------ */ 
    /* Project Img Label 
    /* ------------------------------------------------------ */

    input[id^="chk-f-p-img-label"]:checked ~ article label[for^="chk-f-p-img-label"] > div > img {

        min-width: 58vw;
        max-width: 66vw;        
        
    }

}



/* -------------------------------------------- */
/* 5. width >= 3080px 
/* -------------------------------------------- */
@media (min-width: 3080px ) {


    /* ------------------------------------------------------ */ 
    /* Project Img Label 
    /* ------------------------------------------------------ */

    input[id^="chk-f-p-img-label"]:checked ~ article label[for^="chk-f-p-img-label"] > div > img {

        min-width: 48vw;
        max-width: 58vw;
        
    }

}









 
   








