/* ------------------------------------------------------------- */
/* [CSS-File] - root-keyframes.css 
/* ------------------------------------------------------------- */
/* [Definitions]
/* 
/*  1. Left - Right Moving 
/*  2. ...
/* ------------------------------------------------------------- */



/* ------------------------------------------------------------ */
/* 1. Left - Right Moving 
/* ------------------------------------------------------------ */

@keyframes padding-lr-i-1s {

    50% { padding-left: calc(.1vw + .5em);}
    100% { padding-right: calc(.1vw + .1em);} 
}


/* ------------------------------------------------------------ */
/* 2 - Bottom - Top Moving 
/* ------------------------------------------------------------ */

@keyframes padding-b-t {

    50% { padding-top: calc(.1vw + .3em);}
    100% { padding-bottom: calc(.1vw + .4em);} 
}