/* ------------------------------------------------------------- */
/* [CSS-File] - root-text-colors.css 
/* ------------------------------------------------------------- */
/* [Definitions]
/* 
/* 1. Text Colors 
        1.1 - light txt colors 
        1.2 - dark txt colors 

   2. background colors
        2.1 - light bg colors
        2.2 - dark bg colors 

/* ------------------------------------------------------------- */



/* ---------------------------------------------------------- */
/* 1. Text Colors 
/* ---------------------------------------------------------- */


/* ----------------------------------- */
/* 1.1 - light txt colors 
/* ----------------------------------- */

/* white */
.txt-c-white { color: var(--white); }

/* light grey */
.txt-c-light-grey {  color: var(--light-grey); }

/* light skin brown */
.txt-c-skin-brown {  color: var(--skin-brown); }

/* light red */
.txt-c-light-red {  color: var(--light-red) }

.txt-c-light-red-2 { color: var(--light-red-3) }




/* ----------------------------------- */
/* 1.2 - dark txt colors 
/* ----------------------------------- */


/* dark grey */
.txt-c-dark-grey { color: var(--dark-grey);  }

.txt-c-rainy-dark {  color: var(--rainy-dark); }

/* dark red */
.txt-c-dark-red { color: var(--dark-red); }





/* ---------------------------------------------------------- */
/* 2. background colors
/* ---------------------------------------------------------- */





/* ----------------------------------- */
/* 2.1 - light bg colors
/* ----------------------------------- */

/* light brown */
.bg-c-skin-brown { background-color: var(--skin-brown); }


/* light grey */
.bg-c-light-grey { background-color: var(--light-grey); }


/* ample color */

.bg-c-light-red { background-color: var(--light-red-2); }
.bg-c-light-yellow { background-color:  var(--light-yellow); }
.bg-c-light-green { background-color:  var(--light-green); }



/* ----------------------------------- */
/* 2.2 - dark bg colors 
/* ----------------------------------- */


/* grey - dark */
.bg-c-rainy-dark { background-color: var(--rainy-dark); }

.bg-c-moon-dark { background-color: var(--moon-dark); }