/* ------------------------------------------------------------- */
/* [CSS-File] - default_index.css 
/* ------------------------------------------------------------- */
/* [Definitions]
/* 
/* 1. default portfolio index layout ( body , main ) 
/* 2. ...
/*     
       
/*  
/* ------------------------------------------------------------- */



/* ---------------------------------------------------------- */
/* 1. default portfolio index layout ( body , main ) 
/* ---------------------------------------------------------- */

body { 

    min-height: 100vh;

    display: grid;
    /* header height + line height calc(.6vw + 5.3em)*/
    grid: auto 1fr auto / 1fr;
   

}


